body {
    margin: 0;
    background-color: #f0f0f0;
}

#header {
    width: 100vw;
    min-height: 40px;

    position: fixed;

    border-bottom: 5px solid cyan;

    display: flex;
}

#header > .app-logo {
    width: 150px;
    height: 70px;

    background-color: blueviolet;
}

#header > .links {

}
